 <div class="row">
    <h1>hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/html.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="45"
       [radius]="100"
       [imageSrc]="'../assets/CSS.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
       [radius]="100"
       [imageSrc]="'../assets/js.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/git.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/ANGULAR.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/ACLI.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/NODE.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/xampp.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/mysql.jpg'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/VISUAL STUDIO.jpg'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/APACHE.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/PHP.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/PYTHON1.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
       [radius]="100"
       [imageSrc]="'../assets/C+LOGO.png'"
       [showImage]="true"
       [imageHeight]="70"
       [imageWidth]="70"
       [showUnits]="false"
       [showSubtitle]="false"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="2"
       [outerStrokeColor]="'#78C000'"
       [innerStrokeColor]="'#C7E596'"
       [animation]="true"
       [animationDuration]="600"
    ></circle-progress>
    </div>

</div>
