.row{
    background-color:rgb(205, 94, 50);
    padding: 20px;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 60px rgb(255, 187, 0);
    box-shadow: ejex ejey difumacion color;
}
