<div class="row">
    <div class="container">
        <div class="logo">
             <img src="../../../assets/APLogo.png" id="logoAP"> 
        </div>
        <div class="redes">
              <a href="https://linkedin.com"><img src="../../../assets/link1.png" id="link1"></a>
              <a href="https://www.facebook.com"><img src="../../../assets/facebook-Logo.png" id="facebook-Logo"></a>
              <a href="https://www.youtube.com"><img src="../../../assets/YPT.jpg" id="YPT"></a>
              <a href="https://www.whatsapp.com"><img src="../../../assets/WASAP.jpg" id="WASAP"></a>
              <a href="https://github.com"><img src="../../../assets/github.png" id="github"></a>
              <a href="https://twitter.com"><img src="../../../assets/TWITTER LOGO PNG.jpg" id="twitter logo"></a>
              <a href="https://instagram.com"><img src="../../../assets/INS.jpg" id="INS"></a>
              <a href="https://google.com"><img src="../../../assets/Googlelogo.png" id="Googlelogo"></a>
              <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
              <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
            
    </div>

</div>


 
