<div class="row">
  <h1>Titulos-Certificados-Logros</h1>
  <div class="contenedor">
    <div>
      <div class="col-sm-12 col-md-3 col-lg-5 parte1">
        <img src="../../../assets/titulos/arg1.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_01.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_02.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_03.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_04.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_06.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_01.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_01.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_02.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_03.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_04.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_05.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_06.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_07.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_08.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_09.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_10.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_11.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_12.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_13.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_14.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_15.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_16.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_17.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_18.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_19.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_20.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_21.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_22.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_23.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_24.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_25.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/titulos_Page_26.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_037.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_041.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_042.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_043.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_044.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_045.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_046.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_047.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_048.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_049.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_050.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_051.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_052.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_053.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_054.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_055.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_056.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_057.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_058.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_059.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_060.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_061.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_062.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_063.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_064.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_065.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_066.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_067.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_068.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_069.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_070.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_071.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_072.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_073.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_074.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_075.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_076.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_077.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_078.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_079.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_080.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_081.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_082.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_083.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_084.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_085.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_086.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_087.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_088.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_089.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_090.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_091.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_092.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_093.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_094.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_095.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_096.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_097.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_098.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_099.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_100.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_101.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_102.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_103.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_104.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_105.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_106.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_107.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_108.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_109.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_168.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_169.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_170.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_171.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_172.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_173.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_174.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_175.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_176.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_177.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_178.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_179.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_180.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_181.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_182.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_183.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_184.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_185.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_186.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_187.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_188.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_189.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_167.png" class="img-fluid img-proyecto"> 
        
      </div>
      <div class="col-sm-12 col-md-3 col-lg-5 offset-md-1 offset-lg-1  parte2">
        <img src="../../../assets/titulos/Binder9_Page_10.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_09.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder9_Page_08.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_04.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_05.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_06.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_07.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_08.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_09.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_10.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_11.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_12.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_13.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_14.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_15.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_16.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_17.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_18.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_19.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_20.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_21.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_22.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_23.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_24.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_25.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_26.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_029.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_030.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_031.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_032.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_033.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_034.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_035.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_036.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_02.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/certif_Page_03.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_001.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_002.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_003.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_004.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_005.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_006.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_007.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_008.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_009.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_010.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_011.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_012.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_013.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_014.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_015.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_016.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_017.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_018.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_019.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_020.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_021.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_022.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_023.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_024.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_025.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_026.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_027.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_028.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_038.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_039.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_040.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_037.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_110.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_111.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_112.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_113.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_114.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_115.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_116.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_117.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_118.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_119.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_120.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_121.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_122.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_123.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_124.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_125.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_126.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_127.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_128.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_129.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_130.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_131.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_132.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_133.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_134.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_135.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_136.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_137.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_138.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_139.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_140.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_141.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_142.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_143.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_144.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_145.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_146.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_147.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_148.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_149.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_150.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_151.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_152.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_153.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_154.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_155.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_156.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_157.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_158.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_159.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_160.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_161.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_162.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_163.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_164.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_165.png" class="img-fluid img-proyecto">
        <img src="../../../assets/titulos/Binder7_Page_166.png" class="img-fluid img-proyecto">
         
         
      </div>

       
    </div>
  </div>
</div>